.container {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.box {
    width: 25%;
    height: 740px;
    background-color: rgb(189, 43, 226);
}
.container1 {
    height: 190px;
    width: 100%;
}
.box1 {
    height: 190px;
    width: 100%;
    background-color: rgb(189, 43, 226);
    margin-bottom: 1rem;
}
.container2 {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.box2 {
    width: 33%;
    height: 260px;
    background-color: rgb(189, 43, 226);
}
.container3 {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.box3 {
    width: 50%;
    height: 260px;
    background-color: rgb(189, 43, 226);
}